html, body {
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    overflow: hidden;
}

:root {
    /* FONTS */
    --roboto: 'Roboto', sans-serif;     /* <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> */
    --bangers: 'Bangers', cursive;      /* <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet"> */
    --ranchers: 'Ranchers', cursive;    /* <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet"> */
    --hyeon: 'Do Hyeon', sans-serif;    /* <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"> */
    /* COLORS (https://flatuicolors.com/palette/gb) */
    --blue: #0097e6;
    --green: #44bd32;
    --red: #c23616;
    /* BACKGROUND */
    --bc: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
}

a {
    text-decoration: none;
}